<?xml version="1.0"?>
<log4net>
	<appender name="Composite" type="log4net.Appender.ForwardingAppender">
		<appender-ref ref="EventLog"/>
		<appender-ref ref="RollingFile"/>
	</appender>
	<appender name="Diagnostic" type="log4net.Appender.ForwardingAppender">
		<appender-ref ref="Console"/>
		<appender-ref ref="RollingFileDiagnostic"/>
	</appender>
	<appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
		<threshold value="ALL"/>
		<mapping>
			<level value="ERROR"/>
			<foreColor value="Red, HighIntensity"/>
		</mapping>
		<mapping>
			<level value="WARN"/>
			<foreColor value="Yellow"/>
		</mapping>
		<mapping>
			<level value="INFO"/>
			<foreColor value="Cyan"/>
		</mapping>
		<mapping>
			<level value="DEBUG"/>
			<foreColor value="Green"/>
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{ISO8601} %-5level [%thread][%username]%newline%message%newline---------------%newline"/>
		</layout>
	</appender>
	<appender name="RollingFileDiagnostic" type="log4net.Appender.RollingFileAppender">
		<threshold value="ALL"/>
		<file value="c:\logs\projects-diagnostics.log"/>
		<appendToFile value="true"/>
		<maximumFileSize value="20MB"/>
		<maxSizeRollBackups value="10"/>
		<rollingStyle value="Composite"/>
		<datePattern value=".yyyy-MM-dd'.log'"/>
		<staticLogFileName value="false"/>
		<countDirection value="-1"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{ISO8601} %-5level [%thread][%username] %message%newline"/>
		</layout>
	</appender>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<threshold value="INFO"/>
		<file value="c:\logs\projects.log"/>
		<appendToFile value="true"/>
		<maximumFileSize value="10MB"/>
		<maxSizeRollBackups value="10"/>
		<rollingStyle value="Size"/>
		<staticLogFileName value="true"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{ISO8601} %-5level %message%newline"/>
		</layout>
	</appender>
	<root>
		<level value="INFO"/>
		<appender-ref ref="Diagnostic"/>
	</root>
	<logger name="ClearMeasure.Logging.Logger" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="Diagnostic"/>
	</logger>
</log4net>